.about {
  padding: 2rem;
  position: absolute;
    left: 15%;
    bottom: 22%;
  width: 100rem;

  @include width-1140 {
    width: 80%;
  }

  @include width-715 {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    padding: 0;
    position: static;
    width: 100%;
  }

  
  &__portrait {
    animation-delay: .3s;
    background-image: linear-gradient(
      to bottom right, 
      rgba(83, 209, 254, .4), 
      rgba(255, 255, 255, .7)), 
      url(/images/peter.jpg);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    width: 35rem;

    @include width-715 {
      height: 45rem;
      width: 100%;
    }
  }

  &__content {
    animation-delay: .6s;
    padding: 3rem;
    position: absolute;
      bottom: 2.5rem;
      left: 29.5rem;

    @include width-715 {
      padding: 0;
      position: static;
      text-align: center;
    }

    &__text {
      font-size: 3.1rem;
      font-weight: 300;

      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }

      &-link {
        @include text-animation;
        color: $black;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}