.hello-container {
  backface-visibility: hidden;
  color: $gray;
  font-size: 35vw;
  font-weight: 500;
  pointer-events: none;
  position: absolute;
    top: -15.5vw;
    right: 0;
  text-transform: uppercase;
}