.intro-animation-wrapper {
  background-color: $black;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  transition: background-color 1s;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.intro-animation {
  position: absolute;
    top: 50%;
    left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);

  &__text--name {
    @include intro-animation;
    animation-delay: 1s;
    width: 18rem;
  }

  &__text--title {
    @include intro-animation;
    animation-delay: 3.4s;
    width: 36rem;
  }
}