.intro-animation-wrapper {
  background-color: $black;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  transition: all 1s;
  z-index: 1;
}

.intro-animation {
  position: absolute;
    top: 50%;
    left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);

  &__text--name {
    @include intro-animation;
    animation: slideAnimation 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 1s;
    width: 18rem;
  }

  &__text--title {
    @include intro-animation;
    animation: slideAnimation 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 2.8s;
    width: 36rem;
  }
}