.nav {  
  display: flex;
  position: absolute;
    top: 50%;
  -webkit-transform: rotate(-90deg) translate(-50%);
          transform: rotate(-90deg) translate(-50%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  transition: all .3s;
  z-index: 1;

  @include width-715 {
    display: block;
    padding: 2rem 0 0 2rem;
    position: fixed;
      top: 0;
      left: 0;
    transform: none;
  }          
  
  &__list {  
    display: flex;
    transition: all .5s;

    @include width-715 {
      background-color: $white;
      flex-direction: column;
      height: 0;
      width: 100vw;
      opacity: 0;
      overflow: hidden;
      padding-top: 3rem;
    }
  }

  &__link, &:link, &__link a {
    cursor: pointer;
    font-size: $l-font;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;

    &:hover {
      color: $black;
    }

    &:not(:last-child) {
      margin-right: 5rem;
    }

    @include width-715 {
      display: block;
      width: 100%;

      &:not(:last-child) {
        padding-bottom: 3rem;
      }
    }
  }

  &__social-link {
    display: none;
    
    @include width-715 {
      display: block;
    }
  }

  &__mobile-handle {
    cursor: pointer;
    display: none;
    font-size: $l-font;

    @include width-715 {
      display: inline-block;
    }
  }

  &__toggle {
    height: 45px;
    position: relative;

    &:hover &-line {
      color: $black;
    }

    &-line {
      color: darken(#F5F5F5, 20%);
      position: absolute;
      transition: all .4s;
    }

    &-line--bottom {
      top: 8px;
    }
  }
}

#nav__link--resume {
  margin-right: 0;

  @include width-715 {
    margin-right: 5rem;
  }
}

.is-active {
  border-color: $light-blue;
}

.nav--open {
  height: 100vh;
  width: 100vw;
}

.nav-toggle-top {
  color: $black;
  transform: translate(3px, 3px) rotate(135deg);
}

.nav-toggle-bottom {
  color: $black;
  transform: translate(0, -5px) rotate(-135deg);
}

.nav--visible {
  opacity: 1;
}

.nav-background {
  background-color: $white;
}

.about-link {
  animation-delay: .2s;
}

.portfolio-link {
  animation-delay: .3s;
}

.resume-link {
  animation-delay: .5s;
}

.linkedin-link {
  animation-delay: .7s;
}

.github-link {
  animation-delay: .9s;
}