.nav {  
  display: flex;
  position: absolute;
    top: 50%;
  -webkit-transform: rotate(-90deg) translate(-50%);
          transform: rotate(-90deg) translate(-50%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  

  &__link, &:link {
    border-bottom: 3px solid transparent;
    color: $black;
    font-size: $l-font;
    text-decoration: none;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 5rem;
    }
  }
}

.is-active {
  border-color: $light-blue;
}