.project-button-wrapper {
  display: flex;
  justify-content: flex-end;
  
  .project-button {
    background-color: $white;
    border: 2px solid $white;
    color: $black;
    font-family: inherit;
    font-size: $d-font;
    padding: 1rem 1.5rem;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }

    &--case {
      background-color: transparent;
      color: $white;
      transition: all .3s;

      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }

  & a:not(:last-child) {
    margin-right: 1.5rem;
  }
}