.project-wrapper {
  background-color: $dark-gray;
  margin: 0 auto;
  transform: translate(0);
  transition: all .5s;
  width: 110rem;

  @include width-1800 {
    width: 100%;
  }

  & .video-demo {
    transition: all .3s;
  }

  &:hover .video-demo {
    opacity: .1;
  }

  &:hover .project-text {
    opacity: 1;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
      top: 5%;
      right: 3%;
      bottom: 5%;
      left: 3%;
  }

  &::before {
    border-top: 3px solid $white;
    border-bottom: 3px solid $white;
    transform: scale(0, 1);
    transition: transform ease-out .65s;
    z-index: -1;

    @include width-1000 {
      border-width: 2px;
    }

    @include width-600 {
      border-width: 1px;
    }
  }

  &::after {
    border-left: 3px solid $white;
    border-right: 3px solid $white;
    transform: scale(1, 0);
    transition: transform ease-out .65s;
    z-index: -1;

    @include width-1000 {
      border-width: 2px;
    }

     @include width-600 {
      border-width: 1px;
    }
  }

  &:hover::before {
    transform: scale(1, 1);
  }

  &:hover::after {
    transform: scale(1, 1);
  }
}

.project-bottom-bar {
  background-color: #fff;
  height: 10px;
  position: absolute;
    top: 99%;
    left: 50%;
  transform: translateX(-50%);
  width: 101%;

  @media (max-width: 31.6875em) {
    top: 98%;
  }
}

.project-fade-out {
  opacity: .1;
}

.project-text-fade-in {
  opacity: 1;
}