.project-tabs {
  text-align: center;

  &__title {
    cursor: pointer;
    display: inline-block;
    font-size: $m-font;
    text-transform: uppercase;
    transition: all .3s;

    &:not(:last-child) {
      margin-right: 5rem;
    }

    &:hover {
      color: $black;
    }
  }
}