.project-screenshot-wrapper {
  overflow-x: scroll;
  white-space: nowrap;
  // width: 100%;

  ul {
    list-style: none;
    width: 1000px;
  }

  ul li {
    display: inline-block;
    list-style-type: none;
    width:350px;
  }

  ul li img {
    width: 350px;
  }
}