@-webkit-keyframes slideAnimation {
  0% {
    background-position: 0%;
  }

  20% {
    background-position: 100%;
    color: #242424;
  }

  80% {
    background-position: 100%;
    color: #242424;
  }

  100% {
    background-position: 0%;
  }
}

@keyframes slideAnimation {
  0% {
    background-position: 0%;
  }

  20% {
    background-position: 100%;
    color: #242424;
  }

  80% {
    background-position: 100%;
    color: #242424;
  }

  100% {
    background-position: 0%;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}

@-webkit-keyframes slideInBottom {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideOutBottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}

@keyframes slideOutBottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}

@-webkit-keyframes fadeOutIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-out-left {
  animation: slideOutLeft .9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-in-right {
  animation: slideInRight .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-out-right {
  animation: slideOutRight .9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-in-bottom {
  animation: slideInBottom .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-out-bottom {
  animation: slideOutBottom .9s cubic-bezier(0.590, 0.575, 0.565, 1.000) both;
}

.fade-out-in {
  animation: fadeOutIn 1.2s cubic-bezier(0.390, 0.575, 0.390, 1.000) both;
}

.fade-in {
  animation: fadeIn 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-left {
  animation: fadeInLeft .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}