// COLORS
$black: #242424;
$gray: #F5F5F5;
$light-blue: #53D1FE;
$white: #fff;

// FONTS
$s-font: 1.3rem;
$d-font: 1.6rem;
$m-font: 1.9rem;
$l-font: 2.2rem;
$lr-font: 2.6rem;
$xl-font: 3rem;
$xxl-font: 4rem;
$xxxl-font: 5rem;

// GRID
$grid-width: 114rem;