// COLORS


// FONTS
$s-font-size: 1.3rem;
$d-font-size: 1.6rem;
$m-font-size: 1.9rem;
$l-font-size: 2.2rem;
$lr-font-size: 2.6rem;
$xl-font-size: 3rem;
$xxl-font-size: 4rem;
$xxxl-font-size: 5rem;

// GRID
$grid-width: 114rem;